# Database Configuration (Salin file ini menjadi .env dan sesuaikan nilai-nilainya)
# Sesuaikan nilai berikut dengan konfigurasi MySQL Anda

MYSQLHOST=localhost
MYSQLUSER=root
MYSQLPASSWORD=
MYSQLDATABASE=swms_db
MYSQLPORT=3306